/* Additional rules for handheld devices */
body {
  width: 95%;
}

nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

nav ul {
  text-align: center;
  font-size: 16pt;
}

#container {
  width: 100%;
  float: clear;
}

article {
  width: 100%;
  float: clear;
}

img.center, img.left, img.right, img {
  width: 100%;
  float: clear;
}
