<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" media="(max-width: 640px)" href="/css/handheld.css" />
  </head>

  <body>

    <header>
      <h1>{{ page.title }}</h1>
    </header>

    <nav>
      {% include menu.html %}
    </nav>

    {{ content }}

    <footer>
      {% include footer.html %}
    </footer>

  </body>

</html>
<!-- vim: set tw=0: -->
