<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  </head>

  <!-- Piwik --> 
  <script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://www.cabaladada.org/analytics/" : "http://www.cabaladada.org/analytics/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script type="text/javascript">
try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
} catch( err ) {}
  </script><noscript><p><img src="http://www.cabaladada.org/analytics/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->

  <body>

    <header>
      <h1>{{ page.title }}</h1>
    </header>

    <nav>
      {% include menu.html %}
    </nav>

    <article>
      <div style="font-size: 9pt">
        <em>by {{ page.author }}</em>
      </div>

      {{ content }}

    </article>

    <footer>
      {% include footer.html %}
    </footer>

  </body>

</html>
<!-- vim: set tw=0: -->
